.background {
    background-image: url(img/SectionsBackground/section-1.jpg);
    width: 100%;
    height: 1012px;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header-bg-line {
    background: rgba(0, 0, 0, 0.4);
    height: 122px;
}

.logo-bg-hexagon {
    background-color: #18cfab;
    width: 58px;
    height: 67px;
    font-size: 40px;
    font-weight: 700;
    line-height: 67px;
    text-align: center;
    color: white;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    font-family: Montserrat, sans-serif;
}

.the-ham-text {
    width: 131px;
    height: 24px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 18px;
    margin-left: 5px;
}

.ham-text {
    color: #18cfab;
    font-family: Montserrat -Bold, sans-serif;
    font-weight: 700;
}

.link-menu-items {
    position: relative;
    padding-right: 25px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    display: inline-block;
}

.link-menu-items:hover::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    position: absolute;
    top: 68px;
    right: 8px;
}

.graphic_imgs-buttons:hover::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    position: absolute;
    right: 0;
}

.link-menu-items:hover {
    color: #18cfab;
}

.link-menu-items:last-child:after {
    content: "";
    width: 0;
    height: 0;
}

.header_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotype {
    display: flex;
    margin-top: 28px;
}

.nav-bar {
    margin-top: 25px;
}

.info-below-nav-bar {
    text-align: center;
    margin-top: 246px;
}

.text-wordpress-header {
    color: #18cfab;
    font-family: Montserrat, sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.text-theham-is {
    color: #fff;
}

.creative-text-header {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 45px;
}

.features-text-header {
    color: #d4d4d4;
    font-family: Montserrat, sans-serif;
    font-size: 34px;
    font-weight: 300;
    margin-top: 45px;
}


.explore-button {
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    margin: 0 auto;
    border-radius: 8px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    border-top: 4px solid white;
}

.explore-now {
    text-decoration: none;
}

.purchase-now {
    margin-left: 15px;
    text-decoration: none;
}

.purchase-button {
    width: 166px;
    height: 61px;
    background-color: #00cbf6;
    margin: 0 auto;
    border-radius: 8px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    border-top: 4px solid white;
}

.buttons {
    margin-top: 142px;
    display: flex;
    justify-content: center;
}

.different-button {
    width: 480px;
    height: 374px;
    background-color: #1c2a33;
    border-top: 5px solid #18cfab;
}

.fully-button {
    width: 480px;
    height: 374px;
    background-color: #18cfab;
    border-top: 5px solid white;
}

.img-below-header {
    margin-top: 95px;
    margin-left: 140px;
}

.different-text {
    margin-top: 50px;
    text-align: center;
    color: #18cfab;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.fully-text {
    margin-top: 70px;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.links_below_header {
    text-decoration: none;
}

.section_below_header {
    display: flex;
    justify-content: center;
}

.tabs-our_services {
    color: #4e4e4e;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 82px;
    text-align: center;
    position: relative;
}

.tabs-our_services::after {
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 75px;
    right: 685px;

}

.green-line::before {
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 80px;
    right: 670px;
}

.tabs {
    margin-top: 80px;
    max-width: 1160px;
}

.tabs__caption {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
}

.tabs__caption li {
    width: 158px;
    height: 73px;
    padding: 9px 15px;
    margin: 1px 0 0 1px;
    position: relative;
    text-align: center;
    border-top: solid 1px #ececec;
    border-left: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    color: #717171;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 74px;
}

.tabs__caption .active {
    background: #18cfab;
    color: white;
    position: relative;
}

.tabs__caption .active:after {
    content: '';
    border: 12px solid transparent;
    border-top: 12px solid #18cfab;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -24px;
    width: 0;
}

.tabs__content {
    display: none;
    background: #FFF;
    padding: 7px 15px;

    width: 927px;
    height: 136px;
    color: #777777;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.tabs__content.active {
    display: block;
    padding-top: 25px;
}


.imgs-tabs-our-service {
    width: 100px;
    height: 100px;
}

.background-2 {
    width: 100%;
    height: 474px;
    background: url(img/SectionsBackground/section-2.jpg) no-repeat;
    background-size: cover;
    margin-top: 100px;
}

.main-bg-line {
    background: rgba(0, 0, 0, 0.7);
    height: 474px;
}

.everything-text-main {
    text-align: center;
    padding-top: 125px;
    color: #18cfab;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.text-below-everything {
    text-align: center;
    color: #d8d8d8;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 35px;
}

.purchase-main-button {
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    margin: 0 auto;
    border-radius: 8px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    border-top: 4px solid white;
}

.tabs-2 {
    margin-top: 80px;
}

.tabs__caption__tabs-2 {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
}

.tabs__caption__tabs-2 li {
    height: 58px;
    padding: 0 30px;
    margin: 1px 0 0 1px;
    position: relative;
    text-align: center;
    border-top: solid 1px #ececec;
    border-left: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    color: #717171;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 65px;
}

.tabs__content {
    display: none;
    background: #FFF;
    padding: 7px 15px;

    width: 927px;
    height: 136px;
    color: #777777;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.tabs__content.active {
    display: block;
    padding-top: 25px;
}

.graphic__design {
    padding-top: 70px;
    padding-bottom: 70px;
}

.button__graphic-design {
    margin: 0 auto;
    display: flex;
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    border-radius: 8px;
}

.load-more__button {
    margin: 0 auto;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 67px;
    text-transform: uppercase;
    text-align: center;
}

.add_load_more {
    color: white;
    font-size: 41px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 22px;
}

.graphic_imgs-buttons.active {
    color: #18cfab;
}

.graphic_imgs.active {
    display: none;
}

.invisible {
    display: none;
}

.grey-line {
    margin-top: 100px;
}

.breaking_news_text {
    margin-bottom: 105px;
}

.breaking_news {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 40px;
}

.amazing_blog_post {
    color: #717171;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 38px;
    padding-left: 13px;
}

.by_admin_comment {
    color: #777777;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 38px;
    padding-left: 13px;
}

.border-grey-break_news {
    border: 1px solid #f2f4f5;
    width: 282px;
    height: 72px;
    margin-top: -4px;
}

.green-block-date {
    position: absolute;
    width: 68px;
    height: 68px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    background-color: #203e38;
    left: 216px;
    text-align: center;
}

.breaking_news_columns {
    position: relative;
}

.breaking_news_columns:hover .green-block-date {
    background-color: #18cfab;
}

.breaking_news_columns:hover .amazing_blog_post {
    color: #18cfab;
}


footer {
    height: 108px;
    background-color: #22353f;
}

.copyright {
    color: #aeaeae;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    padding-top: 47px;
}

.theham_footer {
    color: #18cfab;
}

.background-3 {
    width: 100%;
    height: 852px;
    background: url(img/SectionsBackground/section-3.jpg) no-repeat;
    background-size: cover;
}

.header_background-3 {
    margin-top: 100px;
}

.what_people_say {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 82px;
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.what_people_say::after {
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 215px;
    right: 535px;

}

.green-line_bg-3::before {
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 210px;
    right: 550px;
}

.hooks {
    text-align: center;
    padding-top: 156px;
    padding-left: 563px;
}

.slider_nav {
    width: 450px;
    margin: 20px auto 0;
    text-align: center;
}

.img_for_section_for {
    border: 3px solid #074949;
    border-radius: 50%;

}

.slider_for {
    width: 149px;
    margin: 0 auto;
}

.text_for_section_for {
    text-align: center;
    color: #bbbbbb;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.name_for_section_for {
    color: #18cfab;
    font-family: "Montserrat - Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.profession_for_section_for {
    color: #bbbbbb;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
}

.img_for_section_for.active {
    display: block;
}

.img_for_section_for {
    display: none;
    margin: 20px auto 0;
}

.text_for_section_for.active {
    display: block;
}

.text_for_section_for {
    margin-top: 50px;
    display: none;
}


.name_for_section_for.active {
    display: block;
}

.name_for_section_for {
    display: none;
    margin-top: 45px;
}

.profession_for_section_for.active {
    display: block;
}

.profession_for_section_for {
    display: none;
}

.img_for_section_nav {
    border: 3px solid #074949;
    border-radius: 50%;
}
